<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ALWIDA ADMIN PAGE</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    </head>
    <body class=>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper" >
                <!-- <div class="sidebar-heading border-bottom bg-light">ALWIDA</div> -->
                <div class="sidebar-heading border-bottom bg-light">
                    <img src='{{url_for("static", filename="assets/logo.png")}}' style="height:50px !important; width:auto !important">&nbsp; ALWIDA</div>

                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('terminal.terminal') }}">터미널 정보</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('reservation.reservation') }}">예약 요청 수락</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('receipt.receipt') }}">인수도증 발급 현황</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('cash.cash') }}">현금 수납 상황</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('check.check') }}">검사내역 현황</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('user.user') }}">트러커 정보</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('chatting.chatting') }}">채팅</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom", line-height="35px" >
                    <div class="container-fluid">
                        <!--<button class="btn btn-primary" id="sidebarToggle">메뉴</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                {% if check == None %}
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('acc.signin') }}">로그인</a></li>
                                {% else %}
                                <li class="nav-item"><a class="nav-link">{{ usr["tn"] }} {{ usr["name"] }} 관리자님</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('acc.signout') }}">로그아웃</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="container-fluid">
                {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
    </body>
</html>
