{% extends 'layout.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">

<form action="{{ url_for("reservation.reservation") }}" id="group_form" method="GET">
  <div style="float: left;">
    <select name="select_tn" onchange="this.form.submit()">
      {% for tn in tns%}
      {% if tn[0] == select_tn %}
      <option value="{{tn[0]}}" selected>{{tn[0]}} </option>
      {% else %}
      <option value="{{tn[0]}}">{{tn[0]}}</option>
      {% endif %}
      {% endfor%}
    </select>
  </div>
</form><br>

<h3>예약 현황</h3>

<table id='reservation-table' class="hover order-column">
    <thead>
      <tr>
        <th>요청 시간</th>
        <th>트러커</th>
        <th>컨테이너번호</th>
        <th>예약시간</th>
        <th>추천시간</th>
      </tr>
    </thead>
    <tbody>
        {% for reservation in reservations%}
        <tr>
          <td>{{reservation.request_time}}</td>
          <td>{{reservation.id}}</td>
          <td>{{reservation.container_num}}</td>
          {% if reservation.accept_time == None %}
            <td>x</td>
          {% else %}
            <td>{{reservation.accept_time}}</td>
          {% endif %}
          {% if reservation.suggestion == None %}
            <td>X</td>
          {% else %}
            <td>{{reservation.suggestion}}</td>
          {% endif %}
      </tr>
        {% endfor %}
    </tbody>
  </table>

  <h3>시간대별 트러커 예약 현황</h3>

  <table id='accept-table' class="hover order-column">
    <thead>
      <tr>
        <th>예약시간</th>
        <th>방문 트러커 수</th>
        <th>상태</th>
      </tr>
    </thead>
    <tbody>
        {% for accept in accepts%}
        <tr>
          <td>{{accept[0] }}</td>
          <td>{{accept[1] }}</td>
          <td>{{accept[2] }}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
  
  <div id="myModal" class="modal-res">
    <div class="modal-reservation">
      <span class="close">&times;</span>
      <form action="{{ url_for('reservation.reservation') }}" method="post">
        <input type="hidden" name="id" id="id" />
        <h2 id="h2_id"></h2>
        <table table id='suggestion-table' class="hover order-column">
            <thead>
                <tr>
                    <th></th>
                    <th>시간</th>
                    <th>차량수</th>
                    <th>혼잡도</th>
                </tr>
            </thead>
            <tbody>
                {% for suggestion in suggestions %}
                <tr>
                    <th><input type="checkbox" name="timeList" onclick=CountChecked(this) value="{{ suggestion }}"/></th>
                    <th>{{ suggestion }}</th>
                    <th>{{ suggestions[suggestion][0] }}</th>
                    <th>{{ suggestions[suggestion][1] }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3 id="test"></h3>
        <input type="submit" value="추천하기" />
    </form>
    </div>
  </div>

<script>
  var maxChecked = 3;
  var totalChecked = 0;
  function CountChecked(field) {
    if(field.checked)
    totalChecked += 1;
    else
    totalChecked -= 1; 
    if(totalChecked > maxChecked) {
      alert ("최대 3개 까지만 가능합니다.");
      field.checked = false;
      totalChecked -= 1;
    } 
  }
</script>

<script type="text/javascript">
  $(document).ready( function () {
    $('#reservation-table').DataTable({
      stateSave: true
    });
  } );
  $(document).ready( function () {
    $('#accept-table').DataTable({
      stateSave: true,
    });
  } );
  $(document).ready( function () {
    $('#suggestion-table').DataTable({
      scrollCollapse: true,
      lengthChange : false, 
      stateSave: true,
      paging: false,
      order: [[1, 'asc']]
    });
  } );
</script>

<script>
  var modal = document.getElementById("myModal");
  var table =document.getElementById('reservation-table');
  var rowList = table.rows; 
  
  var span = document.getElementsByClassName("close")[0];
  span.onclick = function() {
    modal.style.display = "none";
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  for (i=1; i<rowList.length; i++) {
      var row = rowList[i];
      var tdsNum = row.childElementCount -1;

      row.onclick = function(){ 
        return function(){ 
          var id = this.cells[1].innerHTML; 
          document.getElementById('id').value = id;
          document.getElementById('h2_id').innerHTML =id+' 추천시간';
          modal.style.display = "block";
       }
    }(row);
  }
</script>  

{% endblock %}