{% extends 'layout.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">

<form action="{{ url_for("index") }}" id="group_form" method="GET">
  <div style="float: left;">
    <select name="select_tn" onchange="this.form.submit()">
      {% for tn in tns%}
      {% if tn[0] == select_tn %}
      <option value="{{tn[0]}}" selected>{{tn[0]}} </option>
      {% else %}
      <option value="{{tn[0]}}">{{tn[0]}}</option>
      {% endif %}
      {% endfor%}
    </select>
  </div>
</form>

<form action="{{ url_for("terminal_update") }}" id="group_form" method="POST">
  <div style="float: right;">
    <input type="submit" value="업데이트" />
  </div><br><p>
  <input type="hidden" name="select_tn" value="{{ select_tn }}" />
  <h3>현재 트러커 수 : <input type="number" name="car_amount" min="0" value="{{ terminal.car_amount }}" /></h3><p>

  <h3>혼잡도 상태</h3>
  <div style="float: left; text-align: center;">
    <fieldset>
      <legend>원활</legend>
      <input type="number" name="easy" min="0" value="{{ terminal.easy }}" />
    </fieldset>
  </div>
  <div style="float: left; text-align: center;">
    <fieldset>
      <legend>보통</legend>
      <input type="number" name="normal" min="0" value="{{ terminal.normal }}" />
    </fieldset>
  </div>
  <div style="float: left; text-align: center;">
    <fieldset>
      <legend>혼잡</legend>
      <input type="number" name="difficalt" min="0" value="{{ terminal.difficalt }}" />
    </fieldset>
  </div>
</form><br><br><br><p>

<div style="float: left;">
  <h3>컨테이너 정보</h3>
</div>
<div style="float: right;">
  <button id="container_add">컨테이너 추가</button>
</div>

<table id='container-table' class="hover order-column">
  <thead>
    <tr>
      <th>컨테이너번호</th>
      <th>요청자</th>
      <th>규격</th>
      <th>F/M</th>
      <th>장치위치</th>
      <th>마지막처리일자</th>
      <th>구분</th>
    </tr>
  </thead>
  <tbody>
      {% for container in containers%}
      <tr>
        <td>{{container.container_num}}</td>
        <td>{{container.id}}</td>
        <td>{{container.scale}}</td>
        <td>{{container.fm}}</td>
        <td>{{container.position}}</td>
        <td>{{container.contain_last_time}}</td>
        {% if container.in_out == True %}
        <td>반입</td>
        {% else %}
        <td>반출</td>
        {% endif %}
    </tr>
      {% endfor %}
  </tbody>
</table>

<div id="modify" class="modal">
  <div class="modal-terminal">
    <span id="modify_close" class="close">&times;</span>
    <form action="{{ url_for('container_update') }}" method="post">
      <h2 id="h2_num">컨테이너 정보 입력</h2>
      <div class="div-terminal">
        <label for="container_num" class="modal-label">컨테이너번호</label>
        <input type="text" id="container_num" name="container_num" readonly />
      </div>
      <div class="div-terminal">
        <label for="position" class="modal-label">장치위치</label>
        <input type="text" id="position" name="position" />
      </div>
      <div class="div-terminal">
        <label for="scale" class="modal-label">규격</label>
        <input type="text" id="scale" name="scale" />
      </div>
      <div class="div-terminal">
        <label for="fm" class="modal-label">F/M</label>
        <input type="text" id="fm" name="fm" />
      </div>
      <input type="submit" value="수정하기" />
  </form>
  </div>
</div>

<div id="add" class="modal">
  <div class="modal-terminal">
    <span id="add_close" class="close">&times;</span>
    <form action="{{ url_for('container_add') }}" method="post">
      <h2 id="h2_num">컨테이너 정보 입력</h2>
      <input type="hidden" id="tn" name="tn" value="{{select_tn}}"/>
      <div class="div-terminal">
        <label for="container_num" class="modal-label">컨테이너번호</label>
        <input type="text" id="container_num" name="container_num" />
      </div>
      <div class="div-terminal">
        <label for="position" class="modal-label">장치위치</label>
        <input type="text" id="position" name="position" />
      </div>
      <div class="div-terminal">
        <label for="scale" class="modal-label">규격</label>
        <input type="text" id="scale" name="scale" />
      </div>
      <div class="div-terminal">
        <label for="fm" class="modal-label">F/M</label>
        <input type="text" id="fm" name="fm" />
      </div>
      <input type="submit" value="추가하기" />
  </form>
  </div>
</div>

<script type="text/javascript">
  $(document).ready( function () {
    $('#container-table').DataTable({
      stateSave: true
    });
  } );
</script>

<script>
  var modify = document.getElementById("modify");
  var add = document.getElementById("add");
  var table =document.getElementById('container-table');
  var rowList = table.rows; 
  
  var modify_span = document.getElementById("modify_close");
  modify_span.onclick = function() {
    modify.style.display = "none";
  }
  var add_span = document.getElementById("add_close");
  add_span.onclick = function() {
    add.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modify) {
      modify.style.display = "none";
    }
    if (event.target == add) {
      add.style.display = "none";
    }
  }
  var container_add_btn = document.getElementById("container_add");
  container_add_btn.onclick = function(){
    add.style.display = "block";
  }

  for (i=1; i<rowList.length; i++) {
      var row = rowList[i];
      var tdsNum = row.childElementCount -1;

      row.onclick = function(){ 
        return function(){ 
          var container_num = this.cells[0].innerHTML; 
          document.getElementById('container_num').value = container_num;
          modify.style.display = "block";
       }
    }(row);
  }
</script>  

{% endblock %}