{% extends 'layout.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">

<table id='cash-table' class="hover order-column">
  <thead>
    <tr>
      <th>트러커</th>
      <th>컨테이너 번호</th>
      <th>지급일시</th>
      <th>수납상태</th>
    </tr>
  </thead>
  <tbody>
      {% for cash in cashs%}
      <tr>
        <td>{{cash.id}}</td>
        <td>{{cash.container_num}}</td>
        <td>
          {% if cash.publish_pay %}
          수납완료
          {% else %}
          미정산
          {% endif %}
        </td>
        <td>
        {% if cash.pay_datetime == None%}
        X
        {% else %}
        {{cash.pay_datetime}}
        {% endif %}
      </td>
    </tr>
      {% endfor %}
  </tbody>
</table>

<div id="myModal" class="modal">
  <div class="modal-cash">
    <span class="close">&times;</span>
    <form action="{{ url_for('cash') }}" method="post">
      <input type="hidden" id="id" name="id" />
      <input type="hidden" id="container_num" name="container_num" />
      <h2 id="h2_num">현금수납 발급</h2>
      <h4 id="h4_comment"></h3>
      <input type="submit" value="확인" />
  </form>
  </div>
</div>

<script type="text/javascript">
    $(document).ready( function () {
      $('#cash-table').DataTable({
        stateSave: true
      });
    } );
  </script>
  <script>
    var modal = document.getElementById("myModal");
    var table =document.getElementById('cash-table');
    var rowList = table.rows; 

    var span = document.getElementsByClassName("close")[0];
    span.onclick = function() {
      modal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    
    for (i=1; i<rowList.length; i++) {
        var row = rowList[i];
        var tdsNum = row.childElementCount -1;
  
        row.onclick = function(){ 
          return function(){ 
            var id = this.cells[0].innerHTML; 
            var container_num = this.cells[1].innerHTML;

            document.getElementById('id').value = id;
            document.getElementById('container_num').value = container_num;
            document.getElementById('h4_comment').innerHTML = '<font color=#221A76>'+id+'</font>님  컨테이너 <font color=#221A76>'+container_num+'</font> 현금수납을 발급하시겠습니까?';
            modal.style.display = "block";
         }
      }(row);
    }
  </script>  

{% endblock %}