{% extends 'layout.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">

<form action="{{ url_for("chatting") }}" id="group_form" method="GET">
  <div style="float: left;">
    <select name="select_tn" onchange="this.form.submit()">
      {% for tn in tns%}
      {% if tn[0] == select_tn %}
      <option value="{{tn[0]}}" selected>{{tn[0]}} </option>
      {% else %}
      <option value="{{tn[0]}}">{{tn[0]}}</option>
      {% endif %}
      {% endfor%}
    </select>
  </div>
</form><br><br>

<h3>방문 트러커 현황 알림</h3>

<table id='chatting-table' class="hover order-column">
  <thead>
    <tr>
      <th>구분</th>
      <th>트러커</th>
      <th>차량번호</th>
      <th>컨테이너번호</th>
    </tr>
  </thead>
  <tbody>
      {% for chatting in chattings%}
      <tr>
        {% if chatting[0] == 0 %}
        <td>예약대기</td>
        {% elif chatting[0] == 1%}
        <td>출발</td>
        {% elif chatting[0] == 2%}
        <td>예약 준수 구간 통과</td>
        {% elif chatting[0] == 3%}
        <td>예약 변경</td>
        {% elif chatting[0] == 4%}
        <td>출발 취소 요청</td>
        {% elif chatting[0] == 5%}
        <td>게이트 진입 요청</td>
        {% elif chatting[0] == 6%}
        <td>요청1(부두내 차량수)</td>
        {% elif chatting[0] == 7%}
        <td>요청2(터미널 혼잡도)</td>
        {% endif %}
        <td>{{chatting[1]}}</td>
        <td>{{chatting[2]}}</td>
        <td>{{chatting[3]}}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>

<div id="myModal" class="modal">
  <div class="modal-chatting">
    <div class="div-chatting-head">
      <div>
        <span class="close-chatting">&times;</span>
        <h3 id="h3_id"></h3>
      </div>
    </div>
    <div id="chatting-body" class="div-chatting-body">
      <div id="chat_wrap" class="chat_wrap">
        <div id="chat-inner" class="inner">
        </div>
      </div>
    </div>
    <div class="div-chatting-send">

        <input type="hidden" name="id" id="id"/>
        <div style="float:left;width:80%;">
          <textarea cols="70" rows="1" name="send_text" id="send_text" oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"' style="widht:100%;resize: none; padding: 8px; margin: 20px;max-height: 100px;"></textarea>
        </div>
        <div style="float:left;width:20%;">
          <button id="submit_but" class="chatting-btn" onclick="create_submit()">전송</button>
        </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready( function () {
    $('#chatting-table').DataTable({
      stateSave: true
    });
  } );
</script>

<script>
  function create_submit(){
    var id = document.getElementById("id").value;
    var text = document.getElementById("send_text").value;

    var data = {
      "id":id,
      "text":text
    }

    $.ajax({
      type: 'POST',
      url: '{{ url_for("chatting_update") }}',
      data: JSON.stringify(data),
      dataType : 'JSON',
      contentType: 'application/json',
      success: function(data){
        if(data["len"]==0){
          alert("채팅이 없습니다!");
        }
        else {
          var chat_inner = document.getElementById("chat-inner");
          while(chat_inner.firstChild)  {
            chat_inner.removeChild(chat_inner.firstChild);
          }
          data["message"].forEach(function(msg){
            if(msg["sender"]){
              var item =  document.createElement("div");
              item.setAttribute("class","item");

              var box = document.createElement("div");
              box.setAttribute("class","box");

              var new_msg = document.createElement("p");
              new_msg.setAttribute("class","msg");
              new_msg.innerHTML = msg["message"];

              var time = document.createElement("span");
              time.setAttribute("class", "time");
              time.innerHTML = msg["time"];

              box.appendChild(new_msg);
              box.appendChild(time);
              item.appendChild(box);

              chat_inner.appendChild(item);
            }
            else {
              var item =  document.createElement("div");
              item.setAttribute("class","item mymsg");

              var box = document.createElement("div");
              box.setAttribute("class","box");

              var new_msg = document.createElement("p");
              new_msg.setAttribute("class","msg");
              new_msg.innerHTML = msg["message"];

              var time = document.createElement("span");
              time.setAttribute("class", "time");
              time.innerHTML = msg["time"];

              box.appendChild(new_msg);
              box.appendChild(time);
              item.appendChild(box);

              chat_inner.appendChild(item);
            }

            document.getElementById("id").value=id;
            document.getElementById("h3_id").innerHTML = "&nbsp; &nbsp; &nbsp; &nbsp;"+id+" 트러커님";

            modal.style.display = "block";
            $("#chat-inner.inner").scrollTop($("#chat-inner.inner")[0].scrollHeight);
            document.getElementById("send_text").value = null;
          });
        }
      },
      error: function(request, status, error){
        alert('ajax 통신 실패');
      }
    })
  }
</script>

<script>
  var modal = document.getElementById("myModal");
  var table =document.getElementById('chatting-table');
  var rowList = table.rows; 

  var span = document.getElementsByClassName("close-chatting")[0];
  span.onclick = function() {
    modal.style.display = "none";
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  
  for (i=1; i<rowList.length; i++) {
      var row = rowList[i];
      var tdsNum = row.childElementCount -1;

      row.onclick = function(){ 
        return function(){ 
          var id = this.cells[1].innerHTML;

          var data = {
            'id' : id
          }

          $.ajax({
            type: 'POST',
            url: '{{ url_for("chatting") }}',
            data: JSON.stringify(data),
            dataType : 'JSON',
            contentType: 'application/json',
            success: function(data){
              if(data["len"]==0){
                alert("채팅이 없습니다!");
              }
              else {
                var chat_inner = document.getElementById("chat-inner");
                while(chat_inner.firstChild)  {
                  chat_inner.removeChild(chat_inner.firstChild);
                }
                data["message"].forEach(function(msg){
                  if(msg["sender"]){
                    var item =  document.createElement("div");
                    item.setAttribute("class","item");

                    var box = document.createElement("div");
                    box.setAttribute("class","box");

                    var new_msg = document.createElement("p");
                    new_msg.setAttribute("class","msg");
                    new_msg.innerHTML = msg["message"];

                    var time = document.createElement("span");
                    time.setAttribute("class", "time");
                    time.innerHTML = msg["time"];

                    box.appendChild(new_msg);
                    box.appendChild(time);
                    item.appendChild(box);

                    chat_inner.appendChild(item);
                  }
                  else {
                    var item =  document.createElement("div");
                    item.setAttribute("class","item mymsg");
      
                    var box = document.createElement("div");
                    box.setAttribute("class","box");
      
                    var new_msg = document.createElement("p");
                    new_msg.setAttribute("class","msg");
                    new_msg.innerHTML = msg["message"];
      
                    var time = document.createElement("span");
                    time.setAttribute("class", "time");
                    time.innerHTML = msg["time"];
      
                    box.appendChild(new_msg);
                    box.appendChild(time);
                    item.appendChild(box);
      
                    chat_inner.appendChild(item);
                  }

                  document.getElementById("id").value=id;
                  document.getElementById("h3_id").innerHTML = "&nbsp; &nbsp; &nbsp; &nbsp;"+id+" 트러커님";

                  modal.style.display = "block";
                  $("#chat-inner.inner").scrollTop($("#chat-inner.inner")[0].scrollHeight);
                });
              }
            },
            error: function(request, status, error){
              alert('ajax 통신 실패');
            }
          })
       }
    }(row);
  }
</script>  

<script>
  var btn = document.getElementById("send_text");
  btn.addEventListener("keyup", function(event) {
    if(event.keyCode === 13) {
      if(!event.shiftKey){
        event.preventDefault();
        document.getElementById("submit_but").click();
      }
    }
  });
</script>

{% endblock %}