{% extends 'layout.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">


<table id='receipt-table' class="hover order-column">
  <thead>
    <tr>
      <th>컨테이너번호</th>
      <th>요청자</th>
      <th>발행여부</th>
      <th>장치위치</th>
      <th>규격</th>
      <th>F/M</th>
    </tr>
  </thead>
  <tbody>
      {% for receipt in receipts%}
      <tr>
        <td>{{receipt.container_num}}</td>
        <td>{{receipt.id}}</td>
        <td>
          {% if receipt.publish %}
          발행
          {% else %}
          미발행
          {% endif %}
        </td>
        <td>{{receipt.position}}</td>
        <td>{{receipt.scale}}</td>
        <td>{{receipt.fm}}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>

<div id="myModal" class="modal">
  <div class="modal-receipt">
    <span class="close">&times;</span>
    <form action="{{ url_for('receipt') }}" method="post">
      <input type="hidden" id="id" name="id" />
      <input type="hidden" id="container_num" name="container_num" />
      <h2 id="h2_num">인수도증 발급</h2>
      <h4 id="h4_comment"></h4>
      <input type="submit" value="확인" />
  </form>
  </div>
</div>

<script type="text/javascript">
    $(document).ready( function () {
      $('#receipt-table').DataTable({
        stateSave: true
      });
    } );
  </script>
  <script>
    var modal = document.getElementById("myModal");
    var table =document.getElementById('receipt-table');
    var rowList = table.rows; 

    var span = document.getElementsByClassName("close")[0];
    span.onclick = function() {
      modal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    
    for (i=1; i<rowList.length; i++) {
        var row = rowList[i];
        var tdsNum = row.childElementCount -1;
  
        row.onclick = function(){ 
          return function(){ 
            var container_num = this.cells[0].innerHTML; 
            var id = this.cells[1].innerHTML;

            document.getElementById('id').value = id;
            document.getElementById('container_num').value = container_num;
            document.getElementById('h4_comment').innerHTML = '<font color=#221A76>'+id+'</font>님이 요청하신 컨테이너 <font color=#221A76>'+container_num+'</font> 인수도증을 발급하시겠습니까?';
            modal.style.display = "block";
         }
      }(row);
    }
  </script>  

{% endblock %}