{% extends 'layout.html' %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.uikit.min.js
"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.uikit.min.css">

<h3><li>예약 현황</li></h3>

<table id='reservation-table' class="uk-table uk-table-hover uk-table-striped">
    <thead>
      <tr>
        <th>요청 시간</th>
        <th>트러커</th>
        <th>컨테이너번호</th>
      </tr>
    </thead>
    <tbody>
        {% for reservation in reservations%}
        <tr>
          <td>{{reservation.request_time}}</td>
          <td>{{reservation.id}}</td>
          <td>{{reservation.container_num}}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>

  <h3><li>시간대별 트러커 예약 현황</li></h3>

  <table id='accept-table' class="uk-table uk-table-hover uk-table-striped">
    <thead>
      <tr>
        <th>예약시간</th>
        <th>방문 트러커 수</th>
        <th>상태</th>
      </tr>
    </thead>
    <tbody>
        {% for accept in accepts%}
        <tr>
          <td>{{accept[0] }}</td>
          <td>{{accept[1] }}</td>
          <td>{{accept[2] }}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
  
  <script type="text/javascript">
      $(document).ready( function () {
        $('#reservation-table').DataTable();
      } );
      $(document).ready( function () {
        $('#accept-table').DataTable();
      } );
    </script>

    <script>
      var table =document.getElementById('reservation-table');
      var rowList = table.rows; 
      
      for (i=1; i<rowList.length; i++) {
          var row = rowList[i];
          var tdsNum = row.childElementCount -1;
    
          row.onclick = function(){ 
            return function(){ 
              var id = this.cells[1].innerHTML; 
              var url = "{{ url_for('reservation_popup') }}";
              var name = "reservation_popup";
              var option = "width = 500, height = 500, top = 100, left = 200, location = no"
    
              var form = document.createElement("form");
              form.setAttribute("method", "post");
              form.setAttribute("action", url);
              form.setAttribute("target", name);
    
              var input = document.createElement('input');
              input.type = 'hidden';
              input.name = "id";
              input.value = id;
              form.appendChild(input);
    
              document.body.appendChild(form);
    
              popup = window.open(url, name, option);
              form.submit();
              
              document.body.removeChild(form);
              var timer=setInterval(function(){
                if(popup.closed) {
                  clearInterval(timer);
                  window.location.reload()
                }
              });
           }
        }(row)
      }
    </script>  

{% endblock %}