{% extends 'layout.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">

<form action="{{ url_for("index") }}" method="GET">
  <div style="float: left;">
    <select name="select_tn" onchange="this.form.submit()">
      {% for tn in tns%}
      {% if tn[0] == select_tn %}
      <option value="{{tn[0]}}" selected>{{tn[0]}} </option>
      {% else %}
      <option value="{{tn[0]}}">{{tn[0]}}</option>
      {% endif %}
      {% endfor%}
    </select>
  </div>
</form>

<form action="{{ url_for("terminal_update") }}" method="POST">
  <div style="float: right;">
    <input type="submit" value="업데이트" />
  </div><br><p>
  <input type="hidden" name="select_tn" value="{{ select_tn }}" />
  <h3>현재 트러커 수 : <input type="number" name="car_amount" min="0" value="{{ terminal.car_amount }}" /></h3><p>

  <h3>혼잡도 상태</h3>
  <div style="float: left;">
    <fieldset>
      <legend>원활</legend>
      <input type="number" name="easy" min="0" value="{{ terminal.easy }}" />
    </fieldset>
  </div>
  <div style="float: left;">
    <fieldset>
      <legend>보통</legend>
      <input type="number" name="normal" min="0" value="{{ terminal.normal }}" />
    </fieldset>
  </div>
  <div style="float: left;">
    <fieldset>
      <legend>혼잡</legend>
      <input type="number" name="difficalt" min="0" value="{{ terminal.difficalt }}" />
    </fieldset>
  </div>
</form><br><br><br><p>

<h3>컨테이너 정보</h3>

<table id='container-table'>
  <form action="{{ url_for("index") }}" method="GET">
    <div style="float:left;">
      <select name="status" onchange="this.form.submit()">
        {% if status=="모두" %}
        <option value="모두" selected>모두</option>
        <option value="반입">반입</option>
        <option value="반출">반출</option>
        {% elif status=="반입" %}
        <option value="모두">모두</option>
        <option value="반입" selected>반입</option>
        <option value="반출">반출</option>
        {% else %}
        <option value="모두">모두</option>
        <option value="반입">반입</option>
        <option value="반출" selected>반출</option>
        {% endif %}
      </select>
    </div>
  </form>
  <form action="" id="setRows">
    <div style="float:right;">
      Show
      <select name="rowPerPage" onchange="select_row()">
        <option value="10" selected>10</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
      entries
    </div>
  </form>
  <thead>
    <tr>
      <th>컨테이너번호</th>
      <th>요청자</th>
      <th>규격</th>
      <th>F/M</th>
      <th>장치위치</th>
      <th>마지막처리일자</th>
      <th>구분</th>
    </tr>
  </thead>
  <tbody>
      {% for container in containers%}
      <tr>
        <td>{{container.container_num}}</td>
        <td>{{container.id}}</td>
        <td>{{container.scale}}</td>
        <td>{{container.fm}}</td>
        <td>{{container.position}}</td>
        <td>{{container.contain_last_time}}</td>
        {% if container.in_out == True %}
        <td>반입</td>
        {% else %}
        <td>반출</td>
        {% endif %}
    </tr>
      {% endfor %}
  </tbody>
</table>

<div id="myModal" class="modal">
  <div class="modal-terminal">
    <span class="close">&times;</span>
    <form action="{{ url_for('container_update') }}" method="post">
      <h2 id="h2_num">컨테이너 정보 입력</h2>
      <div class="div-terminal">
        <label for="container_num" class="modal-label">컨테이너번호</label>
        <input type="text" id="container_num" name="container_num" readonly />
      </div>
      <div class="div-terminal">
        <label for="position" class="modal-label">장치위치</label>
        <input type="text" id="position" name="position" />
      </div>
      <div class="div-terminal">
        <label for="scale" class="modal-label">규격</label>
        <input type="text" id="scale" name="scale" />
      </div>
      <div class="div-terminal">
        <label for="fm" class="modal-label">F/M</label>
        <input type="text" id="fm" name="fm" />
      </div>
      <input type="submit" value="수정하기" />
  </form>
  </div>
</div>

<script>
  function select_row() {
    var rowPerPage = $('[name="rowPerPage"]').val() * 1;// 1 을  곱하여 문자열을 숫자형로 변환
  
    var zeroWarning = 'Sorry, but we cat\'t display "0" rows page. + \nPlease try again.'
    if (!rowPerPage) {
      alert(zeroWarning);
      return;
    }
    $('#nav').remove();
    var $products = $('#container-table');
  
    $products.after('<div id="nav">');
  
  
    var $tr = $($products).find('tbody tr');
    var rowTotals = $tr.length;
  
    var pageTotal = Math.ceil(rowTotals/ rowPerPage);
    var i = 0;
  
    for (; i < pageTotal; i++) {
      $('<a href="#"></a>')
          .attr('rel', i)
          .html(i + 1)
          .appendTo('#nav');
    }
  
    $tr.addClass('off-screen')
        .slice(0, rowPerPage)
        .removeClass('off-screen');
  
    var $pagingLink = $('#nav a');
    $pagingLink.on('click', function (evt) {
      evt.preventDefault();
      var $this = $(this);
      if ($this.hasClass('active')) {
        return;
      }
      $pagingLink.removeClass('active');
      $this.addClass('active');
  
      var currPage = $this.attr('rel');
      var startItem = currPage * rowPerPage;
      var endItem = startItem + rowPerPage;
  
      $tr.css('opacity', '0.0')
          .addClass('off-screen')
          .slice(startItem, endItem)
          .removeClass('off-screen')
          .animate({opacity: 1}, 300);
  
    });
  
    $pagingLink.filter(':first').addClass('active');
  }
</script>

<script>
  select_row();
  var modal = document.getElementById("myModal");
  var table =document.getElementById('container-table');
  var rowList = table.rows; 
  
  var span = document.getElementsByClassName("close")[0];
  span.onclick = function() {
    modal.style.display = "none";
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  for (i=1; i<rowList.length; i++) {
      var row = rowList[i];
      var tdsNum = row.childElementCount -1;

      row.onclick = function(){ 
        return function(){ 
          var container_num = this.cells[0].innerHTML; 
          document.getElementById('container_num').value = container_num;
          modal.style.display = "block";
       }
    }(row);
  }
</script>  

{% endblock %}