.form-layout {
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 100%;
  overflow-y: auto;
  text-align: center;
}

.form-head {
  float: left;
  height: 30%;
  width: 100%;
}

.form-body {
  float: left;
  height: 70%;
  width: 100%;
}

.form-logo {
  float: left;
  width: 20%;
}

.form-title {
  float: left;
  width: 80%;
}

.form-img {
  object-fit: scale-down;
  max-width: 40%;
  height: auto;
}

.form-label {
  display:inline-block;
  text-align:center;
  width:20%;
  font-weight:bold;
}

.form-submit {
  width: 50%;
  padding: 10px 10px;
  border-radius: 5px; 
  border: none;
  background: #221A76; 
  font-size: 14px;
  font-weight:  bold;
  color: #fff;
}

.form-a{
  text-align: left;
  font-size:12pt;
  color:rgb(164, 164, 164);
  margin:10px 0px;
}

.form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
