table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  border-left: 1px solid #ccc;
  margin-bottom: 10px;
}
table thead th {
  padding: 10px;
  font-weight: bold;
  color: #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  background: #221A76;
}
table tbody th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #ececec;
}
table td {
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}